body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #eaf6ff;
}

p {
    margin: 0;
}

.form {
    margin: 0 auto;
    padding: 16px;
    width: 328px;
    font-size: 20px;
    background: white;
}

.form-input {
    display: block;
    outline: 0;
    margin: 0 0 16px;
    padding: 16px;
    font-size: 16px;
    width: calc(100% - 34px);
    border: solid 1px lightgrey;
}

.radio-group {
    margin-bottom: 16px;
}

.btn {
    cursor: pointer;
    display: block;
    margin-left: auto;
    padding: 5px 16px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 18px;
    background: #527aff;
}

.header {
    padding: 24px;
    font-size: 24px;
    text-align: center;
}

.info-block {
    margin: 0 auto;
    width: 400px;
    font-size: 20px;
    background: white;
}

.image {
    width: 100%;
    vertical-align: middle;
}

.info {
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px lightgrey;
}

.message {
    padding: 10px 14px;
    background: #b2e4ff;
}

.info-item {
    padding: 6px 8px;
    width: calc(50% - 16px);
}

.links {
    padding: 10px 14px 0;
}

.link {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 5px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    background: #527aff;
}

.hidden {
    display: none !important;
}

.row {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between;
}

.m-0 {
    margin: 0 !important;
}