body {
    background: #eaf6ff;
    margin: 0;
}

p {
    margin: 0;
}

.header {
    padding: 24px;
    font-size: 24px;
    text-align: center;
}

.info-block {
    margin: 0 auto;
    width: 400px;
    font-size: 20px;
}

.image {
    width: 100%;
    vertical-align: middle;
}

.info {
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.message {
    padding: 10px 14px;
    background: #b2e4ff;
}

.info-item {
    padding: 6px 8px;
    width: calc(50% - 16px);
}