<!DOCTYPE html>
<html>
<head>
  <title>Tamagotchi</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class='header'>
  <p>Pet was deleted</p>
</div>
<div class="info-block links">
  <a class="link" href="/create">Create</a>
</div>
</body>
</html>
