<!DOCTYPE html>
<html>
<head>
  <title>Tamagotchi</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class='header'>
  <p>Please, fill out the form</p>
</div>

<form action="/pet" method="post" class="form">
  <input type="text" class="form-input" name="pet_name" placeholder="Pet name" value="<%= pet_name %>">
  <input type="text" class="form-input" name="owner_name" placeholder="Owner name" value="<%= owner_name %>">
  <% if can_create %>
    <div class="radio-group">
      <input id="pet-type-cat" type="radio" class="radio-btn" name="pet_type" value="cat" <%= pet_type == 'cat' ? 'checked' : '' %>>
      <label for="pet-type-cat">Cat</label>
      <input id="pet-type-dog" type="radio" class="radio-btn" name="pet_type" value="dog" <%= pet_type == 'dog' ? 'checked' : '' %>>
      <label for="pet-type-dog">Dog</label>
      <input id="pet-type-bird" type="radio" class="radio-btn" name="pet_type" value="bird" <%= pet_type == 'bird' ? 'checked' : '' %>>
      <label for="pet-type-bird">Bird</label>
      <input id="pet-type-raccoon" type="radio" class="radio-btn" name="pet_type" value="raccoon" <%= pet_type == 'raccoon' ? 'checked' : '' %>>
      <label for="pet-type-raccoon">Raccoon</label>
    </div>
  <% end %>
  <div class="row justify-content-between">
    <a class="link m-0" href="/">Go Back</a>
    <input type="submit" class="btn" value="Submit">
  </div>

</form>
</body>
</html>
