<!DOCTYPE html>
<html>
<head>
  <title>Tamagotchi</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class='header'>
  <p>Hello!</p>
</div>
<div class="info-block links">
  <% if can_create %>
    <a class="link" href="/create">Create</a>
  <% else %>
    <a class="link" href="/edit">Edit</a>
    <a class="link" href="/delete">Delete</a>
    <a class="link" href="/game">Game</a>
  <% end %>
</div>
</body>
</html>
