<!DOCTYPE html>
<html>
<head>
  <title>Tamagotchi</title>
  <link rel="stylesheet" type="text/css" href="<%=root_path %>style.css">
</head>
<body>
<div class='header'>
  <p>Hello, <%= owner_name %>!</p>
  <p>I'm a <%= pet_type %> and my name is <%= pet_name %></p>
</div>

<div class='info-block'>
  <img class='image' src='<%=root_path %><%= image %>' alt='pet image'>
  <div class='message'><%= message %></div>
  <div class='info'>
    <div class='info-item'>Food: <%= food %></div>
    <div class='info-item'>Cleanliness: <%= cleanliness %></div>
    <div class='info-item'>Mood: <%= mood %></div>
    <div class='info-item'>Health: <%= health %></div>
    <div class='info-item'>Sleep: <%= sleep %></div>
    <div class='info-item'>Life: <%= life %></div>
  </div>
  <div class="links">
    <% if game_continue %>
      <a class="link" href="/game/play">Play</a>
      <a class="link" href="/game/walk">Walk</a>
      <a class="link" href="/game/scratch">Scratch</a>
      <a class="link" href="/game/watch">Watch</a>
      <a class="link" href="/game/eat">Eat</a>
      <a class="link" href="/game/clean">Clean</a>
      <a class="link" href="/game/pills">Pills</a>
      <a class="link" href="/game/sleep">Sleep</a>
    <% end %>
    <a class="link" href="/">Go Back</a>
  </div>
</div>
</body>
</html>
